<template>
  <div>
    <img style="height: 200px" src="https://pbs.twimg.com/media/C-WP2fjXYAMALXj.jpg:large" alt="">
    <p>
      You are using electron v{{ versions['atom-shell'] }} with node v{{ versions.node }} on the {{ platform }} platform.
    </p>
  </div>
</template>

<script>
  import os from 'os'

  export default {
    data () {
      return {
        platform: os.platform(),
        versions: process.versions
      }
    }
  }
</script>
