<template>
  <div>
    <v-container >
          <v-card style="margin: 10px 0">
            <v-card-row class="green darken-1">
              <v-card-title>
                <span class="white--text">Todo List </span>
              </v-card-title>
            </v-card-row>
            <v-card-text>
              <div>
                Das ist eine schöne Beschreibung
              </div>
              <v-expansion-panel>
                <v-expansion-panel-content v-for="(item,i) in 5" :key="i">
                  <div slot="header">Item</div>
                  <v-card>
                    <v-card-text class="grey lighten-3">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</v-card-text>
                  </v-card>
                </v-expansion-panel-content>
              </v-expansion-panel>
            </v-card-text>
          </v-card>
    </v-container>
  </div>
</template>

<script>

  export default {
    name: 'todolist'
  }
</script>

<style scoped>
  img {
    margin-top: -25px;
    width: 450px;
  }
</style>
