<template>
    <div>
        <v-container>
            <v-row>
                <div  v-if="count == 0">
                    Keine Todolist da
                </div >
                <v-col xs6 v-else v-for="(item,i) in todolist">
                    <v-card style="margin: 10px 0" >
                        <v-card-row class="green darken-1">
                            <v-card-title :class="getcolorfromstatus(item.status)">
                                <span class="white--text ">{{ item.name }} {{ item.status}}</span>
                                <v-spacer></v-spacer>
                                <div>
                                    <v-menu id="marriot" bottom left origin="top right">
                                        <v-btn icon="icon" slot="activator" class="white--text">
                                            <v-icon>more_vert</v-icon>
                                        </v-btn>
                                        <v-list>
                                            <v-list-item>
                                                <v-list-tile>
                                                    <v-list-tile-title>Starten</v-list-tile-title>
                                                </v-list-tile>
                                            </v-list-item>
                                            <v-list-item>
                                                <v-list-tile>
                                                    <v-list-tile-title>Pause</v-list-tile-title>
                                                </v-list-tile>
                                            </v-list-item>
                                            <v-list-item>
                                                <v-list-tile>
                                                    <v-list-tile-title>Abschliesen</v-list-tile-title>
                                                </v-list-tile>
                                            </v-list-item>
                                            <v-list-item>
                                                <v-list-tile>
                                                    <v-list-tile-title>Löschen</v-list-tile-title>
                                                </v-list-tile>
                                            </v-list-item>
                                        </v-list>
                                    </v-menu>
                                </div>
                            </v-card-title>
                        </v-card-row>
                        <v-card-text>
                            <v-card-row height="75px">
                                <v-icon class="mr-5">card_membership</v-icon>
                                <div>
                                    <div>{{ item.beschreibung}}</div>
                                </div>
                            </v-card-row>
                        </v-card-text>
                        <v-card-row actions>
                            <router-link :to="'/todolist/' + i">
                                <v-btn flat class="green--text darken-1">
                                    Todos Angucken
                                </v-btn>
                            </router-link>
                        </v-card-row>
                    </v-card>
                </v-col>
            </v-row>
            <v-dialog v-model="d4">
                <v-btn class="red" id="addTodo" slot="activator" floating="floating">
                    <v-icon>add</v-icon>
                </v-btn>
                <v-card>
                    <v-card-row>
                        <v-card-title>User Profile</v-card-title>
                    </v-card-row>
                    <v-card-row>
                        <v-card-text>
                            <v-container fluid>
                                <v-text-field  label="Name" required v-model="name"/>
                                <v-text-field  label="Beschreibung" multi-line v-model="beschreibung"/>
                                <small>*indicates required field</small>
                            </v-container>
                        </v-card-text>
                    </v-card-row>
                    <v-card-row actions>
                        <v-btn class="blue--text darken-1" flat @click.native="">Close</v-btn>
                        <v-btn class="blue--text darken-1" flat @click.native="addtodolist">Save</v-btn>
                    </v-card-row>
                </v-card>
            </v-dialog>
        </v-container>
    </div>
</template>

<script>

    export default {
        name: 'landing-page',
        data () {
            return {
                d4: false,
                name: null,
                beschreibung: null
            }
        },
        methods: {
            getcolorfromstatus(status) {
                switch (status) {
                    case "new":
                        return "black"
                    case "start":
                        return "green"
                    case "pause":
                        return "red"
                }
            },
            addtodolist(event) {
                this.$store.commit('addTodolist' ,  { name: this.name , beschreibung:this.beschreibung , status: "new"} )
                this.d4 = false;
                this.name = undefined
                this.beschreibung = undefined
            }
        },
        computed: {
            count () {
                return this.$store.state.counters.count
            },
            todolist () {
                console.log(this.$store.state.counters.todolist)
                return this.$store.state.counters.todolist
            }

        }
    }
</script>

<style scoped>

    #addTodo {
        position: fixed;
        bottom: 10px;
        right: 10px;
    }

    .card__row.card__row--actions a {
        text-decoration: none;
    }

    img {
        margin-top: -25px;
        width: 450px;
    }
</style>
