<template>
  <v-app id="example-2" left-fixed-sidebar>
    <v-toolbar>
      <v-toolbar-side-icon @click.native.stop="nav2 = !nav2" />
      <v-toolbar-logo>Todo List</v-toolbar-logo>
      {{ $route.path}}
      {{ count }}
    </v-toolbar>
    <main>
      <v-sidebar left fixed drawer v-model="nav2">
        <v-list>
          <router-link to="/">
          <v-list-item>
            <v-list-tile>
              <v-list-tile-title>Home </v-list-tile-title>
            </v-list-tile>
          </v-list-item>
          </router-link>
        </v-list>
      </v-sidebar>
      <v-content>
        <router-view></router-view>
      </v-content>
    </main>
  </v-app>
</template>

<script>
    import store from 'renderer/vuex/store'
    export default {
        data () {
            return {
                nav2 : false,
                count: this.$store.state.counters.count
            }
        },
        store
    }
</script>


<style>
  @import '../../../node_modules/vuetify/dist/vuetify.min.css';

  @import url(https://fonts.googleapis.com/css?family=Lato:300);

  @import url(https://fonts.googleapis.com/css?family=Roboto:300,400,500,700|Material+Icons);

  * {
    margin: 0;
    padding: 0;
  }
</style>
